
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let plat of plats">
        <img height="200px" src={{plat.image}} alt={{plat.name}}>
        <mat-grid-tile-footer>
          <h1 mat-line>{{plat.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

<app-detail-plat></app-detail-plat>

</div>